body {
  font-family: "Lato", sans-serif;
  color: #696969;
  line-height: 1.74;
  font-size: 15px;
  font-style: normal;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.41;
}

/* Infotechno hero START */
.infotechno-bg {
  background: #f4efe9;
}
.infotex-images {
  max-width: 605px;
}
.infotechno-button a {
  padding: 12px 36px 12px 36px;
  background: #086ad8;
}
.infotechno-text h6 {
  color: #086ad8;
  margin-bottom: 20px;
}
/* .infotechno-text h1 {
  font-size: 60px;
} */
/* CAROUSEL START*/
.logo-slide-area {
  padding-top: 60px;
  padding-bottom: 60px;
}
.carousel img {
  margin-right: 30px;
}
.carousel .last {
  margin-right: 0;
}
.carousel {
  text-align: center;
}
i {
  color: #f4efe9;
  font-size: 50px;
}
.hover-logo {
  display: none;
}
/* .main-logo:hover {
  display: none;
}
.hover-logo:hover {
  display: block;
} */
